# SPDX-FileCopyrightText: 2025 Husamettin ARABACI
# SPDX-License-Identifier: MIT

# Rust build directory
/target/

# Backup files
**/*.rs.bk
**/*.rs.orig

# VSCode settings
.vscode/
hexaFn.code-workspace

# Node modules
node_modules/

# Log files
*.log

# Environment variables
.env

# JetBrains IDE files
.idea/

# Vim swap files
*.swp

# Temporary files
*.tmp

# Github issue list
/issues/